@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.border-success-300 {
    --tw-border-opacity: 1;
    border-color: rgb(132 225 188/var(--tw-border-opacity))
}

.border-warning-300 {
    --tw-border-opacity: 1;
    border-color: rgb(250 202 21/var(--tw-border-opacity))
}

.border-danger-300 {
    --tw-border-opacity: 1;
    border-color: rgb(248 180 180/var(--tw-border-opacity))
}

.border-blue-300 {
    --tw-border-opacity: 1;
    border-color: rgb(163 186 241/var(--tw-border-opacity))
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-gray-400 {
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175/var(--tw-border-opacity))
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity))
}

.border-primary-500 {
    --tw-border-opacity: 1;
    border-color: rgb(24 83 219/var(--tw-border-opacity))
}

.border-warning-500 {
    --tw-border-opacity: 1;
    border-color: rgb(194 120 3/var(--tw-border-opacity))
}

.border-transparent {
    border-color: transparent
}

.border-gray-500 {
    --tw-border-opacity: 1;
    border-color: rgb(107 114 128/var(--tw-border-opacity))
}

.border-gray-600 {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99/var(--tw-border-opacity))
}

.border-danger-500 {
    --tw-border-opacity: 1;
    border-color: rgb(240 82 82/var(--tw-border-opacity))
}

.border-success-500 {
    --tw-border-opacity: 1;
    border-color: rgb(14 159 110/var(--tw-border-opacity))
}

.border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81/var(--tw-border-opacity))
}

.\!border-danger-200 {
    --tw-border-opacity: 1!important;
    border-color: rgb(251 213 213/var(--tw-border-opacity))!important
}

.border-danger-200 {
    --tw-border-opacity: 1;
    border-color: rgb(251 213 213/var(--tw-border-opacity))
}

.border-primary-200 {
    --tw-border-opacity: 1;
    border-color: rgb(197 212 246/var(--tw-border-opacity))
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-primary-100 {
    --tw-border-opacity: 1;
    border-color: rgb(232 238 251/var(--tw-border-opacity))
}

.border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgb(5 176 104/var(--tw-border-opacity))
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(24 83 219/var(--tw-border-opacity))
}

.border-red-500 {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68/var(--tw-border-opacity))
}

.border-primary-400 {
    --tw-border-opacity: 1;
    border-color: rgb(93 135 230/var(--tw-border-opacity))
}

.border-warning-200 {
    --tw-border-opacity: 1;
    border-color: rgb(252 233 106/var(--tw-border-opacity))
}

.border-warning-600 {
    --tw-border-opacity: 1;
    border-color: rgb(159 88 10/var(--tw-border-opacity))
}

.border-blue-600 {
    --tw-border-opacity: 1;
    border-color: rgb(22 75 197/var(--tw-border-opacity))
}

.border-blue-400 {
    --tw-border-opacity: 1;
    border-color: rgb(93 135 230/var(--tw-border-opacity))
}

.border-yellow-800 {
    --tw-border-opacity: 1;
    border-color: rgb(133 77 14/var(--tw-border-opacity))
}

.border-gray-500\/50 {
    border-color: hsla(220,9%,46%,.5)
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246/var(--tw-border-opacity))
}

.border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgb(31 41 55/var(--tw-border-opacity))
}

.border-red-400 {
    --tw-border-opacity: 1;
    border-color: rgb(248 113 113/var(--tw-border-opacity))
}

.border-gray-500\/25 {
    border-color: hsla(220,9%,46%,.25)
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(230 247 240/var(--tw-bg-opacity))
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(232 238 251/var(--tw-bg-opacity))
}

.bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226/var(--tw-bg-opacity))
}

.bg-warning-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 246 178/var(--tw-bg-opacity))
}

.bg-success-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(188 240 218/var(--tw-bg-opacity))
}

.bg-warning-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(252 233 106/var(--tw-bg-opacity))
}

.bg-danger-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 213 213/var(--tw-bg-opacity))
}

.bg-blue-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(197 212 246/var(--tw-bg-opacity))
}

.bg-\[\#005BBB\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 91 187/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.bg-blue-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(93 135 230/var(--tw-bg-opacity))
}

.bg-warning-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(227 160 8/var(--tw-bg-opacity))
}

.bg-warning-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(194 120 3/var(--tw-bg-opacity))
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity))
}

.bg-success-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(49 196 141/var(--tw-bg-opacity))
}

.bg-red-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113/var(--tw-bg-opacity))
}

.bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128/var(--tw-bg-opacity))
}

.bg-primary-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 83 219/var(--tw-bg-opacity))
}

.bg-danger-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 82 82/var(--tw-bg-opacity))
}

.bg-success-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(14 159 110/var(--tw-bg-opacity))
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.bg-pomegranate-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 70 17/var(--tw-bg-opacity))
}

.bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(232 238 251/var(--tw-bg-opacity))
}

.bg-black\/40 {
    background-color: rgba(0,0,0,.4)
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68/var(--tw-bg-opacity))
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 83 219/var(--tw-bg-opacity))
}

.bg-primary-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(93 135 230/var(--tw-bg-opacity))
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity))
}

.bg-danger-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 128 128/var(--tw-bg-opacity))
}

.bg-blue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 75 197/var(--tw-bg-opacity))
}

.bg-blue-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(7 25 66/var(--tw-bg-opacity))
}

.bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity))
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.bg-eco-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(104 149 80/var(--tw-bg-opacity))
}

.bg-red-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(153 27 27/var(--tw-bg-opacity))
}

.bg-purple-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(119 74 164/var(--tw-bg-opacity))
}

.bg-meilisearch-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 25 120/var(--tw-bg-opacity))
}

.bg-\[\#0db7ed\] {
    --tw-bg-opacity: 1;
    background-color: rgb(13 183 237/var(--tw-bg-opacity))
}

.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255/var(--tw-bg-opacity))
}

.bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity))
}

.bg-primary-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 244 255/var(--tw-bg-opacity))
}

.bg-primary-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(7 25 66/var(--tw-bg-opacity))
}

.bg-info-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(164 202 254/var(--tw-bg-opacity))
}

.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(5 176 104/var(--tw-bg-opacity))
}

.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244/var(--tw-bg-opacity))
}

.bg-\[\#111827\] {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity))
}

.bg-primary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 75 197/var(--tw-bg-opacity))
}

.bg-sky-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(242 247 254/var(--tw-bg-opacity))
}

.bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(194 120 3/var(--tw-bg-opacity))
}

.bg-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(14 50 131/var(--tw-bg-opacity))
}

.bg-blue-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(163 186 241/var(--tw-bg-opacity))
}

.bg-transparent {
    background-color: transparent
}

.bg-blue-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(11 37 99/var(--tw-bg-opacity))
}

.bg-orange-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 202 21/var(--tw-bg-opacity))
}

.bg-primary-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(14 50 131/var(--tw-bg-opacity))
}

.bg-danger-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(224 36 36/var(--tw-bg-opacity))
}

.bg-primary-500\/10 {
    background-color: rgba(24,83,219,.1)
}

.bg-green-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(80 200 149/var(--tw-bg-opacity))
}